body{

    background-color : whitesmoke;
}
.navbar-brand{

    font-size : 3rem;
    margin-top : 2%;
    font-family: 'Recursive', sans-serif;
    color : #379237
    
}

.navbar-brand:hover{

    color : #379237
}


.form{

     border-style : none;
     margin-top : 10%;
     font-size : 1.05rem;
     font-family : 'Montserrat',sans-serif;
     font-weight : 500;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3); 
     resize : none;
}

.button{

    margin-left : 46%;
    margin-top : 50px;
    background-color : #379237;
    color : white;
    border-style : none;
    padding : 20px;
    font-family : 'Montserrat',sans-serif;
    font-weight : 600;
    border-radius :5px;
}

button:hover{
background-color : green;
}